h1{
    background-color: rgb(151, 52, 52);
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 12px;
   padding-bottom: 4px;
   box-shadow: 3px 3px 10px;
}
p{
    margin-left: 80px;
    margin-top: 60px;
}
input{
    margin-left: 50px;
}
body{
    background-color: moccasin;
}
#Resultado{
    text-shadow: orangered;
}