body{
    background-color: rgb(226, 247, 44);
    text-align: center;

}
button{
    position: center;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    color: brown;
    font-family:fantasy
    
    
}
h1{
    background: rgb(106, 221, 230);
    border-radius: 12px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 3px 3px 8px;
}